.list-item-container {
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 244);
    margin-bottom: 16px;
    border-radius: 25px;
}

.list-item-container:hover {
    display:flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 247, 226);
    margin-bottom: 16px;
    border-radius: 25px;
    cursor: pointer;
}

.board-info-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: inherit;
}

.list-item-name {
    display: flex;
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: anywhere;
}

.list-item-email {
    display: flex;
}   

.list-item-date {
    display: flex;
}
