.list-item-container {
    display:flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 244);
    margin-bottom: 16px;
    border-radius: 25px;
}

.board-info-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.list-item-name {
    display: flex;
    font-weight: bold;
}

.list-item-email {
    display: flex;
}   

.list-item-date {
    display: flex;
}
