.board-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
    overflow: scroll;
}

.home-button-container {
    position: absolute;
    left: 0;
    margin: 20px;
}

.board-grid-container {
    display: flex;
    justify-content: center;
}

.board-container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}

.board-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board-title {
    font-size: larger;
    font-weight: bold;
    margin: auto;
    display: flex;
    width: 50%;
    overflow-wrap: break-word;
    word-wrap: anywhere;
    font-family: sans-serif;
}

.board-grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

