.board-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
}

.home-button-container {
    position: absolute;
    left: 0;
    margin: 20px;
}

.board-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}